<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="views.F_OperationsOnDB"
            id="views.F_OperationsOnDB"
            name="F_OperationsOnDB"
            restorable="true">
      </view>
      <view
            class="views.Thresholds_OnDB"
            id="views.Thresholds_OnDB"
            name="Thresholds_OnDB"
            restorable="true">
      </view>
      <view
            class="views.Do_OperationsOnDB"
            id="views.Do_OperationsOnDB"
            name="Do_OperationsOnDB"
            restorable="true">
      </view>
      <view
            class="views.EVL_Tree"
            icon="icons/evl.gif"
            id="views.EVL_Tree"
            name="EVL Visual Builder"
            restorable="true">
      </view>
      <view
            class="views.EOL_Library_Tree"
            id="views.EOL_Library_Tree"
            name="EOL Library Tree"
            restorable="true">
      </view>
	  <view
	  		class="view.PadreEVLValidationView"
	    	icon="icons/evl.gif"
	    	id="view.PadreEVLValidationView"
	    	name="Performance Antipattern Detection and Refactoring Session"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="perspectives.Visual_Builder"
            icon="icons/SEALAb.png"
            id="perspectives.EVL_Visual_Builder"
            name="EVL Visual Builder">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="editors.Local_EOL_Editor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="false"
            extensions="eol, eunit"
            icon="icons/eol.gif"
            id="editors.Local_EOL_Editor"
            name="Local_EOL_Editor">
      </editor>
      <editor
            class="editors.EolEditorForDB"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="false"
            extensions="eol, eunit"
            icon="icons/eol.gif"
            id="editors.EolEditorForDB"
            name="EolEditorForDB">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="perspectives.EVL_Visual_Builder">
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="launching.launchers.PadreLaunchConfigurationDelegate"
            id="launching.PadreEvlLaunchConfigurationDelegate"
            modes="run, debug"
            name="PADRE Validation"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="launching.launchers.PadreLaunchConfigurationTabGroup"
            description="Create a configuration to launch a PADRE Validation"
            id="launching.PadreEvlLaunchConfigurationTabGroup"
            type="launching.PadreEvlLaunchConfigurationDelegate"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="launching.PadreEvlLaunchConfigurationDelegate"
            icon="icons/evl.gif"
            id="PADRE EVLValidation"/>
   </extension>
</plugin>
